<section class="products-page">
  <div class="products-header">
    <h1 class="products-title">{{ category() | titlecase }}</h1>
    <p class="products-count">{{ store.filteredProducts().length }} products found</p>
  </div>

  @if (store.filteredProducts().length === 0) {
    <div class="empty-state">
      No products match your search.
    </div>
  } @else {
    <div class="responsive-grid">
      @for (product of store.filteredProducts(); track product.id) {
        <app-product-card [product]="product">
          <app-toggle-wishlist-button
            [product]="product"
            class="!absolute z-10 top-3 right-3 !bg-white shadow-md rounded-md transition-all duration-200 hover:scale-110 hover:shadow-lg"
            [style.view-transition-name]="'wishlist-button-' + product.id"
          ></app-toggle-wishlist-button>
        </app-product-card>
      }
    </div>
  }
</section>
