<section class="products-page bg-gray-100 p-4 md:p-6">
  <h1 class="text-2xl font-bold text-gray-900 mb-1">
    {{ category() | titlecase }}
  </h1>
  <p class="text-base text-gray-600 mb-6">{{ store.filteredProducts().length }} products found</p>

  @if (store.filteredProducts().length === 0) {
    <div class="bg-white rounded-xl p-8 text-center text-gray-600">
      No products match your search.
    </div>
  } @else {
    <div class="responsive-grid">
      @for (product of store.filteredProducts(); track product.id) {
        <app-product-card [product]="product">
          <app-toggle-wishlist-button
            [product]="product"
            class="!absolute z-10 top-3 right-3 !bg-white shadow-md rounded-md transition-all duration-200 hover:scale-110 hover:shadow-lg"
            [style.view-transition-name]="'wishlist-button-' + product.id"
          ></app-toggle-wishlist-button>
        </app-product-card>
      }
    </div>
  }
</section>
